
.form-container{
    position: relative;
width: 1440px;
height: 1120px;

background: #FFFFFF;
}
.form-inner{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 64px 0px 96px;
gap: 64px;

position: absolute;
width: 1440px;
height: 960px;
left: 0px;
top: 0px;

}
.form-wrapper{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 32px;
gap: 64px;

width: 1280px;
height: 800px;

}
.form-cont{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 1216px;
height: 800px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
}
.form-content{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;

width: 720px;
height: 616px;
}
.header{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 720px;
height: 94px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.contact-header{
    width: 448px;
height: 44px;

/* Display md/Semibold */

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
/* identical to box height, or 122% */

letter-spacing: -0.02em;

/* Gray/900 */

color: #101828;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.support{
    width: 720px;
height: 30px;

/* Text xl/Normal */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


/* Gray/600 */

color: #475467;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.formTag{
    /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 720px;
height: 474px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}